- content_for :head do
  %script{:type => "application/ld+json"}
    :plain
      {
      "@context":"https://schema.org",
      "@type":"Product",
      "productID":"#{@service.id}",
      "name":"#{@service.title}",
      "alternateName": "#{@service.subtitle}",
      "description":"#{@service.description}",
      "url":"#{service_url(@service)}",
      "image":"#{service_url(@service) + rails_blob_path(@service.image, disposition: "attachment", only_path: true)}",
      "brand":"☞ДРУЖБА☜",
      "offers": [
      {
      "@type": "Offer",
      "price": "#{@service.price}",
      "priceCurrency": "UAH",
      "itemCondition": "https://schema.org/NewCondition",
      "availability": "https://schema.org/InStock"
      }
      ]
      }

%div{class: "container mx-auto my-4 font-messiri"}
  %h1{class: "text-3xl text-red-500 sm:text-4xl text-center leading-normal font-bold"}
    = @service.title
  %div{class: "flex flex-col lg:flex-row justify-between"}
    %div{class: "px-4 lg:w-8/12"}
      %sectionmx-auto{class: "p-5 sm:p-10 md:p-16 relative font-messiri"}
        - if @service.image.present?
          %div{class: "bg-cover bg-center text-center overflow-hidden", style: "min-height: 450px; background-image: url('#{url_for(@service.image)}')", title: @service.title, role: "img", "aria-label": @service.title}
        - else
          %div{class: "bg-cover bg-center text-center overflow-hidden", style: "min-height: 450px; background-image: url('#{asset_path("favicon.png")}')", title: @service.title, role: "img", "aria-label": @service.title}
        %div{class: "max-w-3xl mx-auto mb-8"}
          %div{class: "mt-3 bg-white rounded-b lg:rounded-b-none lg:rounded-r flex flex-col justify-between leading-normal"}
            %div{class: "bg-white relative top-0 -mt-32 p-5 sm:p-10"}
              %h2{class: "text-stone-900 font-bold text-3xl mb-2"}
                = @service.subtitle
              %blockquote{class: "text-base leading-8 my-5 text-stone-700 mb-4 text-2xl border-s-4 border-stone-300 p-4 shadow-md"}
                = @service.description
              %p{class: "text-base leading-8 my-5"}
                = @service.body
          %div{class: "text-end p-4"}
            = link_to "#{t ("service.back")}", services_path, class: "justify-end text-xl hover:border-b-2 hover:border-red-500 text-stone-500 hover:text-stone-900"

    %div{class: "px-4 lg:w-4/12"}
      %div{class: "bg-stone-100 px-4 py-6 rounded"}
        %h3{class: "text-lg font-bold mb-2"} 
          = t ("service.h3")
        %ul{class: "list-outside"}
          - @service.articles.each do |article|
            %li{class: "mb-2 text-justify"}
              %i{class: "me-2 text-sm fa-solid fa-feather text-red-500"}
              = link_to article.title, article_path(article), class: "text-xl hover:border-b-2 hover:border-red-500 text-stone-500 hover:text-stone-900"