%tr{ id: dom_id(service) }
  %td.icon_cell
    = link_to admin_service_path(service), class: 'd-block', data: { turbo_frame: 'modal_main' } do
      %i.bi.bi-file-text.h3
  %td
    = service.id
  %td
    = service.title
  %td
    = service.description
  %td.image_cell
    - if service.photo.attached?
      = link_to url_for(service.photo), target: '_blank' do
        - if service.photo.blob.image?
          = image_tag(service.photo, class: 'img-fluid')
        - else
          = service.photo.filename

  %td.icon_cell
    = link_to edit_admin_service_path(service), class: 'd-block', data: { turbo_frame: "modal_main" } do
      %i.bi.bi-pencil-square.h3