.list-group.mb-3
  .list-group-item
    .row
      .col-md-3
        .text-muted.fw-bold= service.class.human_attribute_name(:title)
      .col-md-9
        = service.title
  .list-group-item
    .row
      .col-md-3
        .text-muted.fw-bold= service.class.human_attribute_name(:subtitle)
      .col-md-9
        = service.subtitle
  .list-group-item
    .row
      .col-md-3
        .text-muted.fw-bold= service.class.human_attribute_name(:image)
      .col-md-9
        - if service.image.attached?
          = link_to url_for(service.image), target: '_blank' do
            - if service.image.blob.image?
              = image_tag(service.image, width: "75%", class: 'img-fluid')
            - else
              = service.image.filename

  .list-group-item
    .row
      .col-md-3
        .text-muted.fw-bold= service.class.human_attribute_name(:description)
      .col-md-9
        = service.description
  .list-group-item
    .row
      .col-md-3
        .text-muted.fw-bold= service.class.human_attribute_name(:svc)
      .col-md-9
        = render Admin::BadgeComponent.new(service.svc_i18n, service.svc_color)
  .list-group-item
    .row
      .col-md-3
        .text-muted.fw-bold= service.class.human_attribute_name(:price)
      .col-md-9
        = service.price
  .list-group-item
    .row
      .col-md-3
        .text-muted.fw-bold= service.class.human_attribute_name(:body)
      .col-md-9
        = service.body
