.list-group.mb-3
  .list-group-item
    .row
      .col-md-3
        .text-muted.fw-bold= service.class.human_attribute_name(:title)
      .col-md-9
        = service.title
  .list-group-item
    .row
      .col-md-3
        .text-muted.fw-bold= service.class.human_attribute_name(:description)
      .col-md-9
        = service.description
  .list-group-item
    .row
      .col-md-3
        .text-muted.fw-bold= service.class.human_attribute_name(:photo)
      .col-md-9
        - if service.photo.attached?
          = link_to url_for(service.photo), target: '_blank' do
            - if service.photo.blob.image?
              = image_tag(service.photo, class: 'img-fluid')
            - else
              = service.photo.filename
  .list-group-item
    - service.articles.each do |article|
      = article.title
      = article.created_at.strftime("%d-%m-%Y %H:%M")
