%tr{ id: dom_id(expense) }
  %td.icon_cell
    = link_to admin_expense_path(expense), class: 'd-block', data: { turbo_frame: 'modal_main' } do
      %i.bi.bi-file-text.h3
  %td
    = expense.id
  %td
    = link_to expense.admin_user.name, admin_admin_user_path(expense.admin_user), data: { turbo_frame: 'modal_sub' } if expense.admin_user
  %td
    = expense.description
  %td
    = expense.total_amount
  %td.icon_cell
    = link_to edit_admin_expense_path(expense), class: 'd-block', data: { turbo_frame: "modal_main" } do
      %i.bi.bi-pencil-square.h3