.list-group.mb-3
  .list-group-item
    .row
      .col-md-3
        .text-muted.fw-bold= expense.class.human_attribute_name(:id)
      .col-md-9
        = expense.id
  .list-group-item
    .row
      .col-md-3
        .text-muted.fw-bold= expense.class.human_attribute_name(:admin_user_id)
      .col-md-9
        = link_to expense.admin_user.name, admin_admin_user_path(expense.admin_user), data: { turbo_frame: 'modal_sub' } if expense.admin_user
  .list-group-item
    .row
      .col-md-3
        .text-muted.fw-bold= expense.class.human_attribute_name(:description)
      .col-md-9
        = expense.description
  .list-group-item
    .row
      .col-md-3
        .text-muted.fw-bold= expense.class.human_attribute_name(:total_amount)
      .col-md-9
        = expense.total_amount
  .list-group-item
    .row
      .col-md-3
        .text-muted.fw-bold= expense.class.human_attribute_name(:order_id)
      .col-md-9
        = expense.order_id
.card.mb-3
  .card-header
    %h4.text-muted.mb-0= Admin::ExpenseDetail.model_name.human
  - if expense.expense_details.blank?
    .card-body
      .alert= t('infold.no_data')
  - else
    .table-responsive
      %table.table.table-hover.card-table
        %thead
          %tr
            %th= Admin::ExpenseDetail.human_attribute_name(:expense_category_id)
            %th= Admin::ExpenseDetail.human_attribute_name(:amount)
        %tbody
          - expense.expense_details.each do |expense_detail|
            %tr
              %td
                = link_to expense_detail.expense_category.title, admin_expense_category_path(expense_detail.expense_category), data: { turbo_frame: 'modal_sub' } if expense_detail.expense_category
              %td
                = expense_detail.amount
