= turbo_frame_tag(admin_remote_modal_id) do
  = render Admin::RemoteModalComponent.new('modal_sub') do |modal|
    = modal.with_header { 'Надходження (витрати)' }
    = modal.with_body do
      .modal-body
        .mb-3
          = form_with model: Admin::CustomerSearchForm.new, url: admin_money_flows_path, method: :get,
            scope: 'search', data: { turbo_frame: 'association_search_body' } do |form|
            .row.gy-3.align-items-end
              .col-lg-6.col-xl-4
                = render Admin::FieldsetComponent.new(form, :id_eq, :text, alignment: false, 
                  label: Admin::MoneyFlow.human_attribute_name(:id), placeholder: '=')
              .col-lg-6.col-xl-4
                = hidden_field_tag :name_field, params[:name_field]
                = form.submit t('infold.operation.search'), class: 'btn btn-primary'
        = turbo_frame_tag 'association_search_body' do
          - if @money_flows.blank?
            .alert= t('infold.no_data')
          - else
            .table_wrapper.table-responsive.bg-white.border.mb-3
              %table.table.table-striped.table-hover
                %thead
                  %tr
                    %th= Admin::MoneyFlow.human_attribute_name(:id)
                    %th= Admin::MoneyFlow.human_attribute_name(:title)
                    %th
                %tbody
                  - @money_flows.each do |money_flow|
                    %tr
                      %td
                        = money_flow.id
                      %td
                        = money_flow.title
                      %td.icon_cell
                        %a{ href: '#', data: { action: "relation-search#select remote-modal#close",
                          id: money_flow.id, name: money_flow.read_attribute(params[:name_field]) } }
                          %i.bi.bi-check2-square.h3
            = paginate(@money_flows, views_prefix: "admin")