.list-group.mb-3
  .list-group-item
    = render Admin::FieldsetComponent.new(form, :service_id, :association_search, association_name: :service, search_path: admin_services_path(name_field: :title), name_field: :service_title)
  .list-group-item
    = render Admin::FieldsetComponent.new(form, :published, :switch, include_hidden: true)
  .list-group-item
    = render Admin::FieldsetComponent.new(form, :title, :text)
  .list-group-item
    = render Admin::FieldsetComponent.new(form, :image, :file)
  .list-group-item
    = render Admin::FieldsetComponent.new(form, :description, :text_area)
  .list-group-item
    = render Admin::FieldsetComponent.new(form, :body, :rich_text_area)
