- content_for :head do
  %script{:type => "application/ld+json"}
    - @articles.each do |article|
      {
      "@context": "http://schema.org",
      "@type": "Article",
      "headline": "#{article.title}",
      "description": "#{article.description}",
      "image":"#{service_url(article) + rails_blob_path(article.image, disposition: "attachment", only_path: true)}",
      "url": "#{article_url(article)}",
      "datePublished":"#{article.created_at}",
      "dateModified": "#{article.updated_at}"
      }
-#= content_for :title
-#= content_for :description
-#= content_for :locale

:javascript
  fbq('track', 'ViewContent');

%section{class: "mt-8 font-messiri max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 flex flex-col justify-between"}
  %div{class: "text-center"}
    %h1{class: "text-3xl text-red-500 sm:text-4xl leading-normal font-extrabold tracking-tight"}
      = t ("articles.h1")
%div{class: "max-w-7xl mx-auto p-5 sm:p-10 md:p-16"}
  = turbo_frame_tag "articles_list", src: articles_url(format: :turbo_stream, page: params[:page]), loading: "lazy" do
    %div{id: "articles_card_skeleton", class: "mb-28 grid grid-cols-1 md:grid-cols-3 sm:grid-cols-2 xl:grid-cols-4 lg:grid-cols-4 gap-10"}
      - 4.times do
        %div{class: "bg-white rounded-xl shadow-lg overflow-hidden shadow flex flex-col"}
          %div{class: "animate-pulse bg-gray-100 w-full block rounded-t-xl w-full h-[100px] sm:w-full sm:h-[150px]"}
          %div{class: "px-8 py-6 flex-1"}
            %h2{class: "font-mono text-xl font-bold"}
              %span{class: "rounded animate-pulse bg-gray-200 block w-3/4 py-2"}
            %div{class: "mt-8 space-y-4"}
              %p{class: "w-full rounded animate-pulse bg-gray-200 block py-1"}
              %p{class: "rounded animate-pulse bg-gray-200 block w-5/6 py-1"}
              %p{class: "w-full rounded animate-pulse bg-gray-200 block py-1"}
            %p{class: "mt-8 rounded animate-pulse bg-gray-200 block w-5/6 py-1"}
  
  = turbo_frame_tag "articles_pagination"
  -#, data: { controller: "turbo-frame-history" }