= turbo_stream.remove("articles_card_skeleton") 
= turbo_stream.append("articles_list") do
  %div{class: "grid grid-cols-2 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-10"}
    - @articles.each_with_index do |article, index|
      -# Flexbox для равномерного распределения высоты
      %a{class: "rounded-xl shadow-lg hover:shadow-lg hover:shadow-red-300 flex flex-col h-full", href: article_path(article), "data-turbo": "false",}
        -# Позволяет изображению занимать оставшееся пространство
        %div{class: "flex-grow"}
          - if article.image.attached?
            = image_tag(article.image.variant(convert: "avif", resize_to_limit: [250, 125]), class: "rounded-t-xl w-full h-[150px] sm:w-full sm:h-[200px] transition-all duration-300 cursor-pointer filter grayscale-[50%] hover:grayscale-0", alt: article.title, loading: 'lazy')
          - else
            = image_tag("favicon.png", class: "rounded-t-xl w-full h-[150px] sm:h-[200px] transition-all duration-300 cursor-pointer filter grayscale-[50%] hover:grayscale-0", alt: article.title, loading: 'lazy')
        %div{class: "px-4 py-2 h-auto"}
          %h3{class: "text-stone-900 font-bold text-lg mb-2 hover:text-red-500 inline-block"}
            = article.title
          %p{class: "py-2 font-messiri text-gray-700 text-sm text-ellipsis text-justify"}
            = article.description
      - if (index + 1) % 5 == 0
        %script{:async => "", :crossorigin => "anonymous", :src => "https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3829218691602401"}
        %ins.adsbygoogle{"data-ad-client" => "ca-pub-3829218691602401", "data-ad-format" => "fluid", "data-ad-layout-key" => "-76+d5-2s-2t+oy", "data-ad-slot" => "8096685354", :style => "display:block"}
        :javascript
          (adsbygoogle = window.adsbygoogle || []).push({});
              
= turbo_stream.update "articles_pagination" do
  %div{class: "flex mt-12 items-center justify-center space-x-4 w-full"}
    -#- if @pagy.prev
    -#  = link_to "Prev", articles_url(page: @pagy.prev), data: { turbo_stream: true }, class: "bg-white rounded px-6 py-3 border border-black shadow"
    - if @pagy.next
      = link_to "#{t("pagy.aria_label.next")}", articles_url(page: @pagy.next), data: { turbo_stream: true }, class: "bg-white rounded px-6 py-3 border border-black shadow"
  %p{class: "text-center mt-8 text-gray-500"}
    != pagy_info @pagy
