= turbo_stream.remove("articles_card_skeleton") 
= turbo_stream.append("articles_list") do
  %div{class: "grid grid-cols-2 md:grid-cols-3 sm:grid-cols-2 xl:grid-cols-4 lg:grid-cols-4 gap-10"}
    - @articles.each do |article|
      %a{id: dom_id(article), data: {turbo_frame: "_top"}, class: "rounded-xl shadow-lg hover:shadow-lg hover:shadow-red-300", href: article_path(article)}
        %div{class: "row"}
          - if article.image.attached?
            = image_tag(article.image, class: "rounded-t-xl w-full h-[150px] sm:w-full sm:h-[200px] transition-all duration-300 cursor-pointer filter hover:grayscale-[50%] grayscale-0", alt: article.title, loading: 'lazy')
          - else
            = image_tag("favicon.png", class: "rounded-t-xl w-full h-[150px] sm:h-[200px] transition-all duration-300 cursor-pointer filter hover:grayscale-[50%] grayscale-0", alt: article.title, loading: 'lazy')
          %div{class: "px-4 py-2 h-auto md:h-72 lg:h-64 xl:h-60"}
            %p{class: "font-messiry text-xs text-end"}
              = article.created_at_field
            %div{class: "mb-8"}
              %h2{class: "text-stone-900 font-bold text-lg mb-2 hover:text-red-500 inline-block"}
                = article.title
              -#%p{class: "text-indigo-500 font-bold text-sm mb-2 inline-block"}
              -#  \#
              -#  = article.service.title
              -#%p{class: "text-stone-700 text-sm text-ellipsis"}
              -#  = article.description
              
= turbo_stream.update "articles_pagination" do
  %div{class: "flex mt-12 items-center justify-center space-x-4 w-full"}
    -#- if @pagy.prev
    -#  = link_to "Prev", articles_url(page: @pagy.prev), data: { turbo_stream: true }, class: "bg-white rounded px-6 py-3 border border-black shadow"
    - if @pagy.next
      = link_to "#{t("pagy.aria_label.next")}", articles_url(page: @pagy.next), data: { turbo_stream: true }, class: "bg-white rounded px-6 py-3 border border-black shadow"
  %p{class: "text-center mt-8 text-gray-500"}
    != pagy_info @pagy
