%section{class: "container font-caveat mx-auto px-4 space-y-6 bg-stone-100 py-8 md:py-10 lg:py-14"}
  %div{class: "mx-auto flex flex-col items-center space-y-4 text-center max-w-[64rem]"}
    %h2{class: "font-bold text-3xl md:text-6xl leading-[1.1]"} Більше 15 років досвіду роботи
    %p{class: "leading-normal text-muted-foreground md:text-lg md:leading-5 max-w-[85%]"}
      %div{class: "flex mx-auto items-center justify-between flex-col md:flex-row w-full text-center md:text-left"}
        %i{class: "text-red-600 h-8 w-8 fa-solid fa-person-chalkboard"}
        %div{class: "flex flex-col py-2 pr-2"}
          %h4{class: "text-2xl font-light"} Індивідуальне відношення до кожного клієнта
        %i{class: "text-red-600 h-8 w-8 fa-solid fa-money-bill-trend-up"}
        %div{class: "flex flex-col py-2 pr-2"}
          %h4{class: "text-2xl font-light"} Гнучкі ціни
        %i{class: "text-red-600 h-8 w-8 fa-solid fa-plug-circle-check"}
        %div{class: "flex flex-col py-2 pr-2"}
          %h4{class: "text-2xl font-light"} Якісне обслуговування

  %div{class: "mx-auto grid justify-center gap-4 sm:grid-cols-2 md:grid-cols-3 md:max-w-[64rem]"}
    %div{class: "relative overflow-hidden rounded-lg border bg-white select-none hover:shadow hover:shadow-teal-200 p-2"}
      %div{class: "flex flex-col justify-between rounded-md p-6 h-[130px]"}
        = image_tag("mashine.svg", size: "48x48", class: "h-12 w-12 fill-current mx-auto")
        %div{class: "space-y-2"}
          -#%h3{class: "font-bold"} Next.js 13
          %p{class: "text-xl text-muted-foreground"} Заміна замків у верхньому та легкому одягу
    %div{class: "relative overflow-hidden rounded-lg border bg-white select-none hover:shadow hover:shadow-teal-200 p-2"}
      %div{class: "flex flex-col justify-between rounded-md p-6 h-[130px]"}
        = image_tag("button.svg", size: "48x48", class: "h-12 w-12 fill-current mx-auto")
        %div{class: "space-y-2"}
          -#%h3{class: "font-bold"} Штопка (штуковка джинсових виробів)
          %p{class: "text-xl text-muted-foreground"} Штопка (штуковка джинсових виробів)
    %div{class: "relative overflow-hidden rounded-lg border bg-white select-none hover:shadow hover:shadow-teal-200 p-2"}
      %div{class: "flex flex-col justify-between rounded-md p-6 h-[130px]"}
        = image_tag("pin.svg", size: "48x48", class: "h-12 w-12 fill-current mx-auto")
        %div{class: "space-y-2"}
          -#%h3{class: "font-bold"} Next.js 13
          %p{class: "text-xl text-muted-foreground"} Ремонт шкіряних та хутрових виробів
    %div{class: "relative overflow-hidden rounded-lg border bg-white select-none hover:shadow hover:shadow-teal-200 p-2"}
      %div{class: "flex flex-col justify-between rounded-md p-6 h-[130px]"}
        = image_tag("model.svg", size: "48x48", class: "h-12 w-12 fill-current mx-auto")
        %div{class: "space-y-2"}
          -#%h3{class: "font-bold"} Next.js 13
          %p{class: "text-xl text-muted-foreground"} Підгін низу (джинси, сукні, пальто та інші речі)
    %div{class: "relative overflow-hidden rounded-lg border bg-white select-none hover:shadow hover:shadow-teal-200 p-2"}
      %div{class: "flex flex-col justify-between rounded-md p-6 h-[130px]"}
        = image_tag("pins.svg", size: "48x48", class: "h-12 w-12 fill-current mx-auto")
        %div{class: "space-y-2"}
          -#%h3{class: "font-bold"} Next.js 13
          %p{class: "text-xl text-muted-foreground"} Дрібний ремонт одягу
    %div{class: "relative overflow-hidden rounded-lg border bg-white select-none hover:shadow hover:shadow-teal-200 p-2"}
      %div{class: "flex flex-col justify-between rounded-md p-6 h-[130px]"}
        = image_tag("scissors.svg", size: "48x48", class: "h-12 w-12 fill-current mx-auto")
        %div{class: "space-y-2"}
          -#%h3{class: "font-bold"} Next.js 13
          %p{class: "text-xl text-muted-foreground"} Підшивання шторів та штор

