-#%div{class: ""}
%section{class: "mt-8 font-messiri max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 flex flex-col justify-between"}
  %div{class: "text-center"}
    %h1{class: "text-3xl text-red-500 sm:text-4xl leading-normal font-extrabold tracking-tight"}
      = t ("contacts.h1")
  %div{class: "text-center lg:text-left my-10"}
    %div{class: ""}
      %div{class: "flex flex-col md:flex-row"}
        %div{class: "md:w-1/2 text-center", style: "height:450px; display:inline-block; overflow:hidden;"}
          %iframe{allowfullscreen: "", height: "450", width: "600", loading: "lazy", referrerpolicy: "no-referrer-when-downgrade", src: "https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5349.459246092125!2d33.456670112719706!3d47.902918261544116!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40db2100265898f1%3A0xc888e195cbff0202!2z0KjQstC10LnQvdCwINC80LDQudGB0YLQtdGA0L3RjyDimJ4g0JTQoNCj0JbQkdCQIOKYnA!5e0!3m2!1sru!2sua!4v1718172960386!5m2!1sru!2sua", style: "position:relative; border:0;"}
        %div{class: "md:w-1/2"}
          %div{class: "px-6 py-4"}
            %h3{class: "text-lg font-medium text-stone-900"}
              = t ("contacts.h3_1")
            %p{class: "mt-1 text-gray-600 text-2xl"}
              = t ("contacts.p_1")
          %div{class: "border-t-4 border-gray-200 mx-6 py-4"}
            %h3{class: "text-lg font-medium text-stone-900"}
              = t ("contacts.h3_2")
            %p{class: "mt-1 text-gray-600 text-2xl"}
              = t ("contacts.p_2")
            %p{class: "mt-1 text-gray-600 text-2xl"}
              = t ("contacts.h3_3")
            %p{class: "mt-1 text-gray-600 text-2xl"}
              = t ("contacts.p_3")
          %div{class: "border-t-4 border-gray-200 mx-6 py-4"}
            %h3{class: "text-lg font-medium text-stone-900"}
              = t ("contacts.h3_4")
            %p{class: "mt-1 text-gray-600 text-2xl"}
              = t ("contacts.p_4")
              %a{href: "mailto:ksuha@druzhba.biz.ua"}
                = t ("contacts.p_4_a")
            %p{class: "mt-1 text-gray-600 text-2xl"}
              = t ("contacts.p_5")
              %a{href: "tel:+380972870571"}
                = t ("contacts.p_5_a")

%section{class: "my-8 font-messiri max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 flex flex-col justify-between"}
  %p{class: "mb-3 text-xl text-stone-500 text-justify indent-8"}
    = t ("contacts.p_6")
    %span{class: "font-black"}
      = t ("contacts.p_7")
    = t ("contacts.p_8")
  
  %div{class: "text-center my-8"}
    %h2{class: "text-xl text-stone-500 sm:text-2xl leading-normal font-extrabold tracking-tight"}
      = t ("contacts.p_9")
  %iframe{allowfullscreen: "true", height: "450", loading: "lazy", referrerpolicy: "no-referrer-when-downgrade", src: "https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d1933.7434120505154!2d33.4563839116893!3d47.90296957803765!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e3!4m5!1s0x40db20bd2386221d%3A0x5afba5b6adf31096!2zOTUg0LrQstCw0YDRgtCw0LssINC_0YDQvtGB0L_QtdC60YIg0JPQsNCz0LDRgNC40L3QsCwg0JrRgNC40LLQvtC5INCg0L7Qsywg0JTQvdC10L_RgNC-0L_QtdGC0YDQvtCy0YHQutCw0Y8g0L7QsdC70LDRgdGC0Yw!3m2!1d47.9108534!2d33.3923116!4m5!1s0x40db2100265898f1%3A0xc888e195cbff0202!2z0KjQstC10LnQvdCwINC80LDQudGB0YLQtdGA0L3RjyDimJ4g0JTQoNCj0JbQkdCQIOKYnCwg0JrQvtC60YfQtdGC0LDQstGB0YzQutCwINCy0YPQu9C40YbRjywgMywg0JrRgNC40LLQuNC5INCg0ZbQsywg0JTQvdGW0L_RgNC-0L_QtdGC0YDQvtCy0YHRjNC60LAg0L7QsdC70LDRgdGC0YwsIDUwMDAw!3m2!1d47.903057!2d33.4573497!5e0!3m2!1sru!2sua!4v1720545895855!5m2!1sru!2sua", style: "border:0;"}
  
  %div{class: "text-center my-8"}
    %h2{class: "text-xl text-stone-500 sm:text-2xl leading-normal font-extrabold tracking-tight"}
      = t ("contacts.p_10")
  %iframe{allowfullscreen: "true", height: "450", loading: "lazy", referrerpolicy: "no-referrer-when-downgrade", src: "https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d10698.238356665104!2d33.45117166454058!3d47.90620892871753!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e3!4m5!1s0x40db2101db405865%3A0x59912bbd92c796ba!2z0JrRgNC40LLQuNC5INCg0ZbQsy3Qk9C-0LvQvtCy0L3QuNC5LCDRg9C70LjRhtCwINCX0LDQu9C40LfQvdGL0YfQvdGL0LrQuNCyLCDQmtGA0LjQstC-0Lkg0KDQvtCzLCDQlNC90LXQv9GA0L7Qv9C10YLRgNC-0LLRgdC60LDRjyDQvtCx0LvQsNGB0YLRjA!3m2!1d47.912468!2d33.4518661!4m5!1s0x40db2100265898f1%3A0xc888e195cbff0202!2z0KjQstC10LnQvdCwINC80LDQudGB0YLQtdGA0L3RjyDimJ4g0JTQoNCj0JbQkdCQIOKYnCwg0JrQvtC60YfQtdGC0LDQstGB0YzQutCwINCy0YPQu9C40YbRjywgMywg0JrRgNC40LLQuNC5INCg0ZbQsywg0JTQvdGW0L_RgNC-0L_QtdGC0YDQvtCy0YHRjNC60LAg0L7QsdC70LDRgdGC0YwsIDUwMDAw!3m2!1d47.903057!2d33.4573497!5e0!3m2!1sru!2sua!4v1720547799422!5m2!1sru!2sua", style: "border:0;"}
