%section{class: "mt-8 font-messiri max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 flex flex-col justify-between"}
  %div{class: "text-center"}
    %h1{class: "text-3xl text-red-500 sm:text-4xl leading-normal font-extrabold tracking-tight"}
      = t ("faq.h1") 
    %ul{class: "my-10"}
      %li{class: "text-left mb-4"}
        %div{class: "flex flex-row items-start mb-2"}
          %div{class: "hidden sm:flex items-center justify-center p-3 mr-3 rounded-full bg-red-500 text-white border-4 border-white  font-semibold"}
            %i{class: "fa-regular fa-circle-question"}
          %div{class: "bg-stone-100 shadow-md p-2 px-10 w-full flex items-center rounded-xl"}
            %h4{class: "text-md leading-6 font-medium text-stone-900"}
              = t ("faq.q1")
        %div{class: "flex flex-row items-start"}
          %div{class: "bg-indigo-100 shadow-md p-2 px-10 w-full flex items-center rounded-xl"}
            %p{class: "text-gray-700"}
              = t ("faq.a1")
          %div{class: "hidden sm:flex items-center justify-center p-3 ml-3 rounded-full bg-red-500 text-white border-4 border-white font-semibold"}
            %i{class: "fa-regular fa-comment-dots"}
      -#
      %li{class: "text-left mb-4"}
        %div{class: "flex flex-row items-start mb-2"}
          %div{class: "hidden sm:flex items-center justify-center p-3 mr-3 rounded-full bg-red-500 text-white border-4 border-white font-semibold"}
            %i{class: "fa-regular fa-circle-question"}
          %div{class: "bg-stone-100 shadow-md p-2 px-10 w-full flex items-center rounded-xl"}
            %h4{class: "text-md leading-6 font-medium text-stone-900"}
              = t ("faq.q2")
        %div{class: "flex flex-row items-start"}
          %div{class: "bg-indigo-100 shadow-md p-2 px-10 w-full flex items-center rounded-xl"}
            %p{class: "text-gray-700"}
              = t ("faq.a2")
              %span{class: "text-red-500 hover:border-b-2 hover:border-red-500"}
                = link_to "#{t ("faq.a2_1")}", prices_path
              = t ("faq.a2_2")
          %div{class: "hidden sm:flex items-center justify-center p-3 ml-3 rounded-full bg-red-500 text-white border-4 border-white font-semibold"}
            %i{class: "fa-regular fa-comment-dots"}
      -#
      %li{class: "text-left mb-4"}
        %div{class: "flex flex-row items-start mb-2"}
          %div{class: "hidden sm:flex items-center justify-center p-3 mr-3 rounded-full bg-red-500 text-white border-4 border-white font-semibold"}
            %i{class: "fa-regular fa-circle-question"}
          %div{class: "bg-stone-100 shadow-md p-2 px-10 w-full flex items-center rounded-xl"}
            %h4{class: "text-md leading-6 font-medium text-stone-900"}
              = t ("faq.q3")
        %div{class: "flex flex-row items-start"}
          %div{class: "bg-indigo-100 shadow-md p-2 px-10 w-full flex items-center rounded-xl"}
            %p{class: "text-gray-700"}
              = t ("faq.a3")
              %span{class: "text-red-500 hover:border-b-2 hover:border-red-500"}
                = link_to "#{t ("faq.a3_1")}", services_path
              = t ("faq.a3_2")
          %div{class: "hidden sm:flex items-center justify-center p-3 ml-3 rounded-full bg-red-500 text-white border-4 border-white  font-semibold"}
            %i{class: "fa-regular fa-comment-dots"}      
      -#
      %li{class: "text-left mb-4"}
        %div{class: "flex flex-row items-start mb-2"}
          %div{class: "hidden sm:flex items-center justify-center p-3 mr-3 rounded-full bg-red-500 text-white border-4 border-white  font-semibold"}
            %i{class: "fa-regular fa-circle-question"}
          %div{class: "bg-stone-100 shadow-md p-2 px-10 w-full flex items-center rounded-xl"}
            %h4{class: "text-md leading-6 font-medium text-stone-900"}
              = t ("faq.q4")
        %div{class: "flex flex-row items-start"}
          %div{class: "bg-indigo-100 shadow-md p-2 px-10 w-full flex items-center rounded-xl"}
            %p{class: "text-gray-700 "}
              = t ("faq.a4")
              %span{class: "text-red-500 hover:border-b-2 hover:border-red-500"}
                = link_to "#{t ("faq.a4_1")}", prices_path
              = t ("faq.a4_2")
          %div{class: "hidden sm:flex items-center justify-center p-3 ml-3 rounded-full bg-red-500 text-white border-4 border-white  font-semibold"}
            %i{class: "fa-regular fa-comment-dots"}

      -# AdSense block media
      %script{:async => "", :crossorigin => "anonymous", :src => "https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3829218691602401"}
      / test media
      %ins.adsbygoogle{"data-ad-client" => "ca-pub-3829218691602401", "data-ad-format" => "auto", "data-ad-slot" => "9965566145", "data-full-width-responsive" => "true", :style => "display:block"}
      :javascript
        (adsbygoogle = window.adsbygoogle || []).push({});

      -#
      %li{class: "text-left mb-4"}
        %div{class: "flex flex-row items-start mb-2"}
          %div{class: "hidden sm:flex items-center justify-center p-3 mr-3 rounded-full bg-red-500 text-white border-4 border-white  font-semibold"}
            %i{class: "fa-regular fa-circle-question"}
          %div{class: "bg-stone-100 shadow-md p-2 px-10 w-full flex items-center rounded-xl"}
            %h4{class: "text-md leading-6 font-medium text-stone-900 "}
              = t ("faq.q5")
        %div{class: "flex flex-row items-start"}
          %div{class: "bg-indigo-100 shadow-md p-2 px-10 w-full flex items-center rounded-xl"}
            %p{class: "text-gray-700 "}
              = t ("faq.a5")
          %div{class: "hidden sm:flex items-center justify-center p-3 ml-3 rounded-full bg-red-500 text-white border-4 border-white  font-semibold"}
            %i{class: "fa-regular fa-comment-dots"}
      -#
      %li{class: "text-left mb-4"}
        %div{class: "flex flex-row items-start mb-2"}
          %div{class: "hidden sm:flex items-center justify-center p-3 mr-3 rounded-full bg-red-500 text-white border-4 border-white  font-semibold"}
            %i{class: "fa-regular fa-circle-question"}
          %div{class: "bg-stone-100 shadow-md p-2 px-10 w-full flex items-center rounded-xl"}
            %h4{class: "text-md leading-6 font-medium text-stone-900 "}
              = t ("faq.q6")
        %div{class: "flex flex-row items-start"}
          %div{class: "bg-indigo-100 shadow-md p-2 px-10 w-full flex items-center rounded-xl"}
            %p{class: "text-gray-700 "}
              = t ("faq.a6")
          %div{class: "hidden sm:flex items-center justify-center p-3 ml-3 rounded-full bg-red-500 text-white border-4 border-white  font-semibold"}
            %i{class: "fa-regular fa-comment-dots"}
      -#
      %li{class: "text-left mb-4"}
        %div{class: "flex flex-row items-start mb-2"}
          %div{class: "hidden sm:flex items-center justify-center p-3 mr-3 rounded-full bg-red-500 text-white border-4 border-white  font-semibold"}
            %i{class: "fa-regular fa-circle-question"}
          %div{class: "bg-stone-100 shadow-md p-2 px-10 w-full flex items-center rounded-xl"}
            %h4{class: "text-md leading-6 font-medium text-stone-900"}
              = t ("faq.q7")
        %div{class: "flex flex-row items-start"}
          %div{class: "bg-indigo-100 shadow-md p-2 px-10 w-full flex items-center rounded-xl"}
            %p{class: "text-gray-700 "}
              = t ("faq.a7")
              %span{class: "text-red-500 hover:border-b-2 hover:border-red-500"}
                = link_to "#{t ("faq.a7_1")}", prices_path + "#factors"
              = t ("faq.a7_2")
          %div{class: "hidden sm:flex items-center justify-center p-3 ml-3 rounded-full bg-red-500 text-white border-4 border-white  font-semibold"}
            %i{class: "fa-regular fa-comment-dots"}
      -#
      %li{class: "text-left mb-4"}
        %div{class: "flex flex-row items-start mb-2"}
          %div{class: "hidden sm:flex items-center justify-center p-3 mr-3 rounded-full bg-red-500 text-white border-4 border-white  font-semibold"}
            %i{class: "fa-regular fa-circle-question"}
          %div{class: "bg-stone-100 shadow-md p-2 px-10 w-full flex items-center rounded-xl"}
            %h4{class: "text-md leading-6 font-medium text-stone-900 "}
              = t ("faq.a8")
        %div{class: "flex flex-row items-start"}
          %div{class: "bg-indigo-100 shadow-md p-2 px-10 w-full flex items-center rounded-xl"}
            %p{class: "text-gray-700 "}
              = t ("faq.a8")
          %div{class: "hidden sm:flex items-center justify-center p-3 ml-3 rounded-full bg-red-500 text-white border-4 border-white  font-semibold"}
            %i{class: "fa-regular fa-comment-dots"}

  %p{class: "text-2xl text-center text-stone-700 sm:text-3xl leading-normal font-bold tracking-tight"}
    = t ("faq.p1")
    %button{onclick: "contactFormModal.classList.remove('hidden');", id: "openContactForm", href: "", class: "leading-8 text-red-500 hover:border-b-2 hover:border-red-500"}
      = t ("faq.p2")
    = t ("faq.p3")