-#= video_tag("test.mp4", size: "640", autoplay: :autoplay, loop: :loop, controls: true, html: {class: "border-4"})
-#%button{onclick: "setGtag()", class: "hidden"} Yes

%div{id: "warning", class: "flex items-center w-full p-4 text-gray-500 bg-red-100 rounded-lg shadow", role: "alert"}
  %div{class: "inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-orange-500 bg-orange-100 rounded-lg"}
    %i{class: "fa-solid fa-triangle-exclamation"}
  %div{class: "ms-auto text-md font-normal text-center"}
    У зв'язку з відключенням електроенергії, графік роботи може бути змінений. У разі виникнення питань телефонуйте:
    %span{class: "px-[5px] text-gray-900 whitespace-nowrap"}
      %i{class: "fa-solid fa-phone"}
      %a{href: "tel:+380972870571"}+38 097 287 05 71
    %br
    Просимо вибачення за незручності.
  %button{class: "ms-auto bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 hover:bg-gray-100 inline-flex items-center justify-center h-8 w-8 -mx-1.5 -my-1.5 p-1.5", "aria-label": "Close", "data-dismiss-target": "#warning", type: "button"}
    %span.sr-only Close
    %i{class: "fa-solid fa-xmark"}

%div{class: "", id: ""}
  
  -# Modal dialog contact form
  = render "contact_form"
  
  %div{class: "position-relative opacity-0 element-animation", id: "hero-section"}
    = render "1_hero_section"
  
  %div{class: "position-relative mt-8 opacity-0 element-animation", id: "services"}
    = render "2_services"
  
  %div{class: "position-relative mt-2 opacity-0 element-animation", id: "services"}
    = render "3_services"

  %div{class: "position-relative mt-16 opacity-0 element-animation", id: "about"}
    = render "4_about"

  -#%div{class: "position-relative mt-16 opacity-0 element-animation", id: "reviews"}
  -#  = render "5_reviews"

  %div{class: "position-relative mt-16 opacity-0 element-animation", id: "contacts"}
    = render "6_contacts"

  %footer{class: "", id: "footer"}
    = render "7_footer"
  
-# Scroll to Top button
%div{class: "fixed bottom-10 end-10", id: ""}
  %a{class: "", "data-popover-target": "scroll-to-top", "data-popover-placement": "left", type: "button", href: "#main"}
    %i{class: "text-2xl text-stone-600 fa-solid fa-jet-fighter-up"}
  %div{id: "scroll-to-top", class: "w-24 absolute z-10 invisible inline-block transition-opacity duration-300", "data-popover": "", role: "tooltip"}
    %p{class: "font-messiri text-md text-stone-600"} До початку