-#= video_tag("test.mp4", size: "640", autoplay: :autoplay, loop: :loop, controls: true, html: {class: "border-4"})
-#%button{onclick: "setGtag()", class: "hidden"} Yes

%div{class: "", id: ""}
  
  %div{class: "odd wow", id: "hero-section-1"}
    = render "1_hero_section"
  
  %div{class: "even wow mt-8", id: "services"}
    = render "2_services"

  %div{class: "odd wow mt-8", id: "hero-section-2"}
    = render "3_hero_section"
  
  -#%div{class: "wow mt-8", id: "prices"}
  -#  = render "4_prices"

  %div{class: "even wow mt-8", id: "about"}
    = render "5_about"

  -#%div{class: "wow mt-8", id: "reviews"}
  -#  = render "6_reviews"

  %div{class: "odd wow mt-8", id: "faq"}
    = render "7_faq"
  
  %div{class: "even wow mt-8", id: "contacts"}
    = render "8_contacts"