%div{class: "", id: ""}
  
  -# Modal dialog contact form
  = render "contact_form"
  
  %div{class: "position-relative opacity-0 element-animation", id: "hero-section"}
    = render "1_hero_section"
  
  %div{class: "position-relative mt-8 opacity-0 element-animation", id: "services"}
    = render "2_services"
  
  %div{class: "position-relative mt-2 opacity-0 element-animation", id: "services"}
    = render "3_services"

  %div{class: "position-relative mt-16 opacity-0 element-animation", id: "about"}
    = render "4_about"

  -#%div{class: "position-relative mt-16 opacity-0 element-animation", id: "reviews"}
  -#  = render "5_reviews"

  %div{class: "position-relative mt-16 opacity-0 element-animation", id: "contacts"}
    = render "6_contacts"

  %footer{class: "", id: "footer"}
    = render "7_footer"
  
-# Scroll to Top button
%div{class: "fixed bottom-10 end-10", id: ""}
  %a{class: "", "data-popover-target": "scroll-to-top", "data-popover-placement": "left", type: "button", href: "#main"}
    %i{class: "text-2xl text-stone-600 fa-solid fa-jet-fighter-up"}
  %div{id: "scroll-to-top", class: "w-24 absolute z-10 invisible inline-block transition-opacity duration-300", "data-popover": "", role: "tooltip"}
    %p{class: "font-messiri text-md text-stone-600"} До початку