%section{class: "mt-8 font-messiri max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 flex flex-col justify-between"}
  %div{class: "text-center"}
    %h1{class: "text-3xl text-red-500 sm:text-4xl leading-normal font-extrabold tracking-tight"}
      = t ("prices.h1")

  %div{class: "relative overflow-x-auto shadow-md sm:rounded-lg my-10"}
    %table{class: "w-full text-md text-left rtl:text-right text-stone-500"}
      %thead{class: "text-xl text-stone-700 uppercase bg-stone-50"}
        %tr{class: "bg-stone-200"}
          %th{class: "px-6 py-3", scope: "col"}
            = t ("prices.th_1_1")
          %th{class: "px-6 py-3 text-center", scope: "col"}
            = t ("prices.th_2")
      %tbody
        - @repair.each do |repair|
          %tr{class: "bg-white border-b hover:bg-stone-50"}
            %th{class: "text-wrap px-6 py-4 font-medium text-stone-900 whitespace-nowrap", scope: "row"}
              = repair.title
            %td{class: "px-6 py-4 text-center"}
              = t ("prices.td_1")
              %span{class: "text-stone-900"}
                = repair.price
              = t ("prices.td_2")

  %div{class: "relative overflow-x-auto shadow-md sm:rounded-lg my-10"}
    %table{class: "w-full text-md text-left rtl:text-right text-stone-500"}
      %thead{class: "text-xl text-stone-700 uppercase bg-stone-50"}
        %tr{class: "bg-stone-200"}
          %th{class: "px-6 py-3", scope: "col"}
            = t ("prices.th_1_2")
          %th{class: "px-6 py-3 text-center", scope: "col"}
            = t ("prices.th_2")
      %tbody
        - @sewing.each do |sewing|
          %tr{class: "bg-white border-b hover:bg-stone-50"}
            %th{class: "text-wrap px-6 py-4 font-medium text-stone-900 whitespace-nowrap", scope: "row"}
              = sewing.title
            %td{class: "px-6 py-4 text-center"}
              = t ("prices.td_1")
              %span{class: "text-stone-900"}
                = sewing.price
              = t ("prices.td_2")
  %div{id: "factors my-4", class: "text-justify"}
    %p{class: "pt-4 text-xl text-stone-700 sm:text-3xl leading-normal font-semibold tracking-tight indent-8"}
      = t ("prices.p1")
    %p{class: "pt-4 text-2xl text-stone-700 sm:text-3xl leading-normal font-extrabold tracking-tight"}
      = t ("prices.p2")
    %ul{class: "list ms-4"}
      %li{class: ""}
        %b{class: "text-xl text-stone-700 sm:text-3xl leading-normal font-extrabold tracking-tight"}
          = t ("prices.ul.b_1")
        %span{class: "text-xl text-stone-700 sm:text-3xl leading-normal font-normal tracking-tight"}
          = t ("prices.ul.li_1")
      %li{class: ""}
        %b{class: "text-xl text-stone-700 sm:text-3xl leading-normal font-extrabold tracking-tight"}
          = t ("prices.ul.b_2")
        %span{class: "text-xl text-stone-700 sm:text-3xl leading-normal font-normal tracking-tight"}
          = t ("prices.ul.li_2")
      %li{class: ""}
        %b{class: "text-xl text-stone-700 sm:text-3xl leading-normal font-extrabold tracking-tight"}
          = t ("prices.ul.b_3")
        %span{class: "text-xl text-stone-700 sm:text-3xl leading-normal font-normal tracking-tight"}
          = t ("prices.ul.li_3")
      %li{class: ""}
        %b{class: "text-xl text-stone-700 sm:text-3xl leading-normal font-extrabold tracking-tight"}
          = t ("prices.ul.b_4")
        %span{class: "text-xl text-stone-700 sm:text-3xl leading-normal font-normal tracking-tight"}
          = t ("prices.ul.li_4")
      %li{class: ""}
        %b{class: "text-xl text-stone-700 sm:text-3xl leading-normal font-extrabold tracking-tight"}
          = t ("prices.ul.b_5")
        %span{class: "text-xl text-stone-700 sm:text-3xl leading-normal font-normal tracking-tight"}
          = t ("prices.ul.li_5")
      %li{class: ""}
        %b{class: "text-xl text-stone-700 sm:text-3xl leading-normal font-extrabold tracking-tight"}
          = t ("prices.ul.b_6")
        %span{class: "text-xl text-stone-700 sm:text-3xl leading-normal font-normal tracking-tight"}
          = t ("prices.ul.li_6")
      %li{class: ""}
        %b{class: "text-xl text-stone-700 sm:text-3xl leading-normal font-extrabold tracking-tight"}
          = t ("prices.ul.b_7")
        %span{class: "text-xl text-stone-700 sm:text-3xl leading-normal font-normal tracking-tight"}
          = t ("prices.ul.li_7")
    %p{class: "pt-4 text-xl text-stone-700 sm:text-3xl leading-normal font-semibold tracking-tight indent-8"}
      = t ("prices.p3")
    %p{class: "pt-4 text-2xl text-center text-stone-700 sm:text-3xl leading-normal font-extrabold tracking-tight"}
      = t ("prices.p4")