





%div{class: "p-2 flex flex-col-reverse md:flex-row"}
  %div{class: "flex flex-col justify-center items-center md:w-4/6"}
    %div{class: "bg-green-200"} 1
    %div{class: "bg-green-300"} 2
  %div{class: "flex flex-col justify-center items-center md:w-2/6"}
    %div{class: "bg-green-200"} 1
    %div{class: "bg-green-300"} 2
    %div{class: "bg-green-400"} 3





%div{class: "flex flex-col m-2 justify-evenly lg:flex-row"}
  %a{class: "text-center sm:text-start cursor-pointer flex flex-row m-1 space-y-4 transition-all duration-500 bg-white border border-indigo-100 rounded-lg shadow hover:shadow-xl", :href => admin_landing_messages_path}
    %div{class: "p-1"}
      %h5{class: "text-xl font-bold"} Повідомлення
      %div{class: "flex flex-col sm:flex-row"}
        %p{class: "badge bg-lime rounded-lg p-1 m-1 text-md text-gray-600"} Нових: #{LandingMessage.where(status: 0).count}
        %p{class: "badge bg-lime rounded-lg p-1 m-1 text-md text-gray-600"} За тиждень: #{LandingMessage.where('updated_at > ?', 1.week.ago).count}
        %p{class: "badge bg-lime rounded-lg p-1 m-1 text-md text-gray-600"} За місяць: #{LandingMessage.where('updated_at > ?', 1.month.ago).count}
        %p{class: "badge bg-lime rounded-lg p-1 m-1 text-md text-gray-600"} Прострочено: #{LandingMessage.where('updated_at <= ?', 1.week.ago).count}
  %a{class: "text-center sm:text-start cursor-pointer flex flex-row m-1 space-y-4 transition-all duration-500 bg-white border border-indigo-100 rounded-lg shadow hover:shadow-xl", :href => admin_orders_path}
    %div{class: "p-1"}
      %h5{class: "text-xl font-bold"} Замовлення
      %div{class: "flex flex-col sm:flex-row"}
        %p{class: "badge bg-lime rounded-lg p-1 m-1 text-md text-gray-600"} Нових: #{LandingMessage.where(status: 0).count}
        %p{class: "badge bg-lime rounded-lg p-1 m-1 text-md text-gray-600"} За тиждень: #{LandingMessage.where('updated_at > ?', 1.week.ago).count}
        %p{class: "badge bg-lime rounded-lg p-1 m-1 text-md text-gray-600"} За місяць: #{LandingMessage.where('updated_at > ?', 1.month.ago).count}
        %p{class: "badge bg-lime rounded-lg p-1 m-1 text-md text-gray-600"} Прострочено: #{LandingMessage.where('updated_at <= ?', 1.week.ago).count}

    
= column_chart Order.group_by_day(:updated_at).sum(:price), title: "Прибутки", width: "480px", height: "240px", colors: ["#b00", "#666"]

-#= line_chart Order.group(:price).count.group_by_day(:updated_at).count

