%div{class: ""}
  %div{class: "row"}
    = render "cards"
  %div{class: "px-1"}
    = render "messages"
    = render "orders"
%div{class: "row"}
  %div{class: "col-12 col-md-4 bg-info"} &nbsp
  %div{class: "col-12 col-md-4 bg-purple"} &nbsp
  %div{class: "col-12 col-md-4 bg-warning"} &nbsp



%h1 Аналитика денежных потоков

= form_tag admin_root_path, method: :get do
  = label_tag :start_date, "Начальная дата:"
  = date_field_tag :start_date, @start_date
  = label_tag :end_date, "Конечная дата:"
  = date_field_tag :end_date, @end_date
  = submit_tag "Применить"
 
%h2 Движение денежных средств
= line_chart @cash_flow, xtitle: "Дата", ytitle: "Сумма (UAH)", colors: ["#4CAF50"], decimal: ",", precision: 3, thousands: " "

%h2 Касса
= line_chart @cash, xtitle: "Дата", ytitle: "Сумма (UAH)", colors: ["#4CAF50"], decimal: ",", precision: 3, thousands: " "

%h2 Топ-5 категорий расходов
= pie_chart @top_expense_categories

%h2 Дебиторская задолженность
= area_chart @accounts_receivable, xtitle: "Дата", ytitle: "Сумма (UAH)", colors: ["#2196F3"]

%h2 Сводка
%table
  %tr
    %th Показатель
    %th Сумма (UAH)
  %tr
    %td Общий доход
    %td= number_to_currency(@cash_flow.values.sum)
  %tr
    %td Касса
    %td= number_to_currency(@cash.values.sum)
  %tr
    %td Общие расходы
    %td= number_to_currency(@expenses.values.sum)
  %tr
    %td Чистый денежный поток
    %td= number_to_currency((@cash_flow.values.sum - @expenses.values.sum))
  %tr
    %td Текущая дебиторская задолженность
    %td= number_to_currency(@accounts_receivable.values.sum)

%table
  %thead
    %tr
      %th User
      %th Role
      %th Total Salary
  %tbody
    - @users.each do |user|
      %tr
        %td= user.name
        %td= user.role
        %td= number_to_currency(@salary_data[user.id].to_f)
  %tfoot
    %tr
      %th{colspan: 2} Total
      %td= number_to_currency(@salary_data.values.sum.to_f)