- if @expense.invalid?
  = turbo_stream.update "form_body" do
    = fields_for @expense do |form|
      = render "form", form: form
- else
  = turbo_stream.update "modal_main" do
    = render Admin::RemoteModalComponent.new do |modal|
      = render 'show_wrapper', modal: modal, expense: @expense
  - if action_name == "create"
    = turbo_stream.prepend "expenses" do
      = render 'index_row', expense: @expense
    = turbo_stream.remove "no_data"
  - else
    = turbo_stream.replace @expense do
      = render 'index_row', expense: @expense
= admin_turbo_stream_flash