%ul.navbar-nav.me-auto.mb-0
  %li{class: "nav-item"}
    = link_to 'Дашборд', admin_root_path, class: "nav-link fs-3"
  %li.nav-item
    = link_to 'Повідомлення', admin_landing_messages_path, class: 'nav-link fs-3'
  %li.nav-item
    = link_to 'Замовлення', admin_orders_path, class: 'nav-link fs-3'
  %li.nav-item
    = link_to 'Витрати', admin_expenses_path, class: 'nav-link fs-3'
  %li.nav-item
    = link_to 'Замовники', admin_customers_path, class: 'nav-link'