%tr{ id: dom_id(order) }
  %td.icon_cell
    = link_to admin_order_path(order), class: 'd-block', data: { turbo_frame: 'modal_main' } do
      %i.bi.bi-file-text.h3
  %td
    = order.id
  %td
    = link_to order.customer.name, admin_customer_path(order.customer), data: { turbo_frame: 'modal_sub' } if order.customer
  %td
    = link_to order.admin_user.name, admin_admin_user_path(order.admin_user), data: { turbo_frame: 'modal_sub' } if order.admin_user
  %td
    = render Admin::BadgeComponent.new(order.status_i18n, order.status_color)
  %td
    = render Admin::BadgeComponent.new(order.paid_i18n, order.paid_color)
  %td
    = order.price
  %td
    = order.updated_at_field
  %td.icon_cell
    = link_to edit_admin_order_path(order), class: 'd-block', data: { turbo_frame: "modal_main" } do
      %i.bi.bi-pencil-square.h3