%section{class: "font-messiri relative items-center w-full px-5 py-12 mx-auto md:px-12 lg:px-24 max-w-7xl", id: "hero-section-2", "data-aos": "zoom-in", "data-controller": "landing--gallery"}
  %div{class: "py-3 sm:py-6 text-center"}
    %h2{class: "font-messiri text-red-500 text-2xl font-medium uppercase lg:text-3xl"}
      = t "landing.examples.h2"

  %div{class: "grid grid-cols-2 md:grid-cols-4 gap-4 place-content-center"}
    - (1..3).each do |i|
      = image_tag("#{i}-min.jpg",
                  srcset: {"#{i}-min.jpg" => "1200w", "#{i}-min.jpg" => "800w", "#{i}-min.jpg" => "600w"},
                  sizes: "(max-width: 600px) 100vw, 600px",
                  width: 1200,
                  height: 600,
                  "data-aos": "zoom-in",
                  alt: "Изделие #{i}",
                  loading: 'lazy',
                  class: "cursor-pointer rounded-lg shadow hover:shadow-lg max-h-[600px] w-auto object-cover",
                  data: { "modal-target": "image-modal-#{i}", "modal-toggle": "image-modal-#{i}" })