%tr{ id: dom_id(expense_category) }
  %td.icon_cell
    = link_to admin_expense_category_path(expense_category), class: 'd-block', data: { turbo_frame: 'modal_main' } do
      %i.bi.bi-file-text.h3
  %td
    = expense_category.id
  %td
    = expense_category.title
  %td
    = expense_category.description
  %td.icon_cell
    = link_to edit_admin_expense_category_path(expense_category), class: 'd-block', data: { turbo_frame: "modal_main" } do
      %i.bi.bi-pencil-square.h3