.list-group.mb-3
  .list-group-item
    .row
      .col-md-3
        .text-muted.fw-bold= admin_user.class.human_attribute_name(:email)
      .col-md-9
        = admin_user.email
  .list-group-item
    .row
      .col-md-3
        .text-muted.fw-bold= admin_user.class.human_attribute_name(:name)
      .col-md-9
        = admin_user.name
  .list-group-item
    .row
      .col-md-3
        .text-muted.fw-bold= admin_user.class.human_attribute_name(:role)
      .col-md-9
        = admin_user.role_i18n
  .list-group-item
    .row
      .col-md-3
        .text-muted.fw-bold Заработано
      .col-md-9
        -#= Order.where(admin_user: admin_user.id).where(created_at: Date.today.at_beginning_of_month..Date.tomorrow).pluck(:price).sum
        = admin_user.month_salary(admin_user)