.list-group.mb-3
  .list-group-item
    .row
      .col-md-3
        .text-muted.fw-bold= landing_message.class.human_attribute_name(:id)
      .col-md-9
        = landing_message.id
  .list-group-item
    .row
      .col-md-3
        .text-muted.fw-bold= landing_message.class.human_attribute_name(:name)
      .col-md-9
        = landing_message.name
  .list-group-item
    .row
      .col-md-3
        .text-muted.fw-bold= landing_message.class.human_attribute_name(:email)
      .col-md-9
        = landing_message.email
  .list-group-item
    .row
      .col-md-3
        .text-muted.fw-bold= landing_message.class.human_attribute_name(:phone)
      .col-md-9
        = landing_message.phone
  .list-group-item
    .row
      .col-md-3
        .text-muted.fw-bold= landing_message.class.human_attribute_name(:status)
      .col-md-9
        = render Admin::BadgeComponent.new(landing_message.status_i18n, landing_message.status_color)
  .list-group-item
    .row
      .col-md-3
        .text-muted.fw-bold= landing_message.class.human_attribute_name(:updated_at_field)
      .col-md-9
        = landing_message.updated_at_field
  .list-group-item
    .row
      .col-md-3
        .text-muted.fw-bold= landing_message.class.human_attribute_name(:message)
      .col-md-9
        = landing_message.message
