!!!
%html{lang: "#{I18n.locale}"}
  %head
    = yield :head
    = canonical_link
    = alternate_locale_link
    = page_title(@page_title)
    
    = favicon_link_tag asset_path('favicon.png')
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %meta{name: "description", content: "#{@page_description.truncate(160)}"}
    %meta{name: "revisit-after", content: "1 days"}
    %meta{name: "google-adsense-account", content: "ca-pub-3829218691602401"}

    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "tailwind", "inter-font", media: "print", onload: "this.media='all'", "data-turbo-track": "reload", nonce: content_security_policy_nonce
    = stylesheet_link_tag "custom", media: "print", onload: "this.media='all'", "data-turbo-track": "reload", nonce: content_security_policy_nonce
    = stylesheet_link_tag "fonts", media: "print", onload: "this.media='all'", "data-turbo-track": "reload", nonce: content_security_policy_nonce
    = javascript_include_tag "application", "data-turbo-track": "reload", defer: true, nonce: content_security_policy_nonce
    -# if @use_aos
    = stylesheet_link_tag "aos", media: "print", onload: "this.media='all'", "data-turbo-track": "reload", nonce: content_security_policy_nonce
    = javascript_include_tag "aos", "data-turbo-track": "reload", defer: true, nonce: content_security_policy_nonce

    %noscript
      %img{height: "1", width: "1",
          src: "https://www.facebook.com/tr?id=1562402937679169&ev=PageView&noscript=1",
          style: "display:none"}
  
  %body{class: "bg-stone-100", id: "main"}
    = cache ['navigation', I18n.locale] do
      = render "shared/navigation"
    %main{class: "", "data-controller": "landing--index"}
      = yield
    = cache 'footer' do
      %footer{class: "relative start-0 bottom-0", id: "footer"}
        = render "shared/footer"

    -# Modal dialog contact form
    = cache 'contact_form' do
      = render "shared/contact_form"
    -# Modal image galery
    = cache 'image_galery' do
      = render "shared/image_gallery_modal"

    -# Scroll to Top button
    %div{class: "fixed bottom-10 end-10"}
      %a{class: "", "data-popover-target": "scroll-to-top", "data-popover-placement": "left", href: "#main"}
        %i{class: "text-2xl text-stone-600 fa-solid fa-jet-fighter-up"}
      %div{id: "scroll-to-top", class: "w-24 absolute z-10 invisible inline-block transition-opacity duration-300", "data-popover": "", role: "tooltip"}
        %p{class: "font-messiri text-md text-stone-600"} До початку
    
    -# Cookies bar
    %div{id: "cookies-bar","data-controller": "cookies"}
      = render "shared/cookies_bar" if @cookie_value.nil?

    %link{rel: "stylesheet", href: "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css", crossorigin: "anonymous", referrerpolicy: "no-referrer", nonce: content_security_policy_nonce}
    %script{src: "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/js/all.min.js", crossorigin: "anonymous", referrerpolicy: "no-referrer", nonce: content_security_policy_nonce}
