!!!
%html
  %head
    -# Google tag (gtag.js)
    %script{async: "true", "data-turbo-track": "reload", src: "https://www.googletagmanager.com/gtag/js?id=G-B1HN94WVHN"}

    %title Швейна майстерня ☞ ДРУЖБА ☜
    = favicon_link_tag asset_path('favicon.png')
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}
    %meta{content: "ремонт одягу пошив індивідуальний пошив ремонт одежды укоротить брюки штаны юбка платье", :name => "description"}

    -# Google fonts
    %link{href: "https://fonts.googleapis.com", rel: "preconnect"}
    %link{crossorigin: "", href: "https://fonts.gstatic.com", rel: "preconnect"}
    %link{href: "https://fonts.googleapis.com/css2?family=Bad+Script&family=messiri:wght@400..700&display=swap", rel: "stylesheet"}
    %link{href: "https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&display=swap", rel: "stylesheet"}

    -# FontAwesome
    %link{crossorigin: "anonymous",
          href: "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css",
          integrity: "sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==",
          rel: "stylesheet"}

    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "inter-font", "data-turbo-track": "reload"
    = stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload"
    = javascript_include_tag 'application', 'data-turbo-track': 'reload', defer: true

    -# FlowbiteJS
    %link{href: "https://unpkg.com/flowbite@1.5.3/dist/flowbite.min.css", rel: "stylesheet"}
    %script{:src => "https://unpkg.com/flowbite@1.5.3/dist/flowbite.js"}
    -# AnimatedCSS and WOWjs
    %link{href: "https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css", rel: "stylesheet"}
    %script{crossorigin: "anonymous", integrity: "sha512-Eak/29OTpb36LLo2r47IpVzPBLXnAMPAVypbSZiZ4Qkf8p/7S/XRG5xp7OKWPPYfJT6metI+IORkR5G8F900+g==", referrerpolicy: "no-referrer", src: "https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"}

  %body{class: "bg-stone-100", id: "main", "data-controller": "landing--index"}
    %navigation{class: ""}
      = render "shared/navigation"
    %main{class: ""}
      = yield
      %footer{class: "", id: "footer"}
    %footer{class: "relative start-0 bottom-0"}
      = render "shared/footer"

    -# Modal dialog contact form
    = render "shared/contact_form"

    -# Scroll to Top button
    %div{class: "fixed bottom-10 end-10", id: ""}
      %a{class: "", "data-popover-target": "scroll-to-top", "data-popover-placement": "left", type: "button", href: "#main"}
        %i{class: "text-2xl text-stone-600 fa-solid fa-jet-fighter-up"}
      %div{id: "scroll-to-top", class: "w-24 absolute z-10 invisible inline-block transition-opacity duration-300", "data-popover": "", role: "tooltip"}
        %p{class: "font-messiri text-md text-stone-600"} До початку