!!!
%html{lang: "#{I18n.locale}"}
  %head
    = yield :head
    = canonical_tag
    %link{href: "https://druzhba.biz.ua/#{I18n.locale}/", hreflang: "#{I18n.locale}", rel: "alternate"}
    
    %title
      - if I18n.locale == :uk
        = @page_title.present? ? "#{@page_title}" : "Швейна майстерня ☞ ДРУЖБА ☜"
      - else
        = @page_title.present? ? "#{@page_title}" : "Швейная мастерская ☞ДРУЖБА☜"
    = favicon_link_tag asset_path('favicon.png')
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %meta{name: "description", content: "#{@page_description}"}
    %meta{name: "revisit-after", content: "1 days"}
    %meta{name: "google-adsense-account", content: "ca-pub-3829218691602401"}

    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload", nonce: :nonce
    = stylesheet_link_tag "application", "https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&display=swap", "https://fonts.googleapis.com/css2?family=Bad+Script&family=messiri:wght@400..700&display=swap", "inter-font", "data-turbo-track": "reload", nonce: :nonce
    = stylesheet_link_tag "custom", "data-turbo-track": "reload", nonce: :nonce
    = javascript_include_tag "application", "data-turbo-track": "reload", defer: true, async: "", nonce: :nonce
    
    -# Animate styles
    = javascript_include_tag "aos", "data-turbo-track": "reload", defer: true, async: "", nonce: :nonce
    = stylesheet_link_tag "aos", "data-turbo-track": "reload", nonce: :nonce

    -#%div{id: "csp-nonce", "data-nonce": "#{@csp_nonce}"}

    -# CookieBot
    %script{id: "CookieDeclaration", src: "https://consent.cookiebot.com/b96db7a3-49c9-4675-a08d-7f34dbddfb4e/cd.js", type: "text/javascript", nonce: :nonce}
    -# FlowbiteJS
    %link{href: "https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.5.1/flowbite.min.css", rel: "stylesheet", nonce: :nonce}
    %script{async: "", src: "https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.5.1/flowbite.min.js", nonce: :nonce}

    %noscript
      %img{height: "1", width: "1",
          src: "https://www.facebook.com/tr?id=1562402937679169&ev=PageView&noscript=1",
          style: "display:none"}
  
  %body{class: "bg-stone-100", id: "main", "data-controller": "landing--index"}
    %navigation{class: ""}
      = render "shared/navigation"
    %main{class: ""}
      = yield
    %footer{class: "relative start-0 bottom-0", id: "footer"}
      = render "shared/footer"

    -# Modal dialog contact form
    = render "shared/contact_form"

    -# Cookies bar
    - if cookies[:allow_cookies].blank?
      = render "shared/cookies_bar"

    -# Scroll to Top button
    %div{class: "fixed bottom-10 end-10"}
      %a{class: "", "data-popover-target": "scroll-to-top", "data-popover-placement": "left", href: "#main"}
        %i{class: "text-2xl text-stone-600 fa-solid fa-jet-fighter-up"}
      %div{id: "scroll-to-top", class: "w-24 absolute z-10 invisible inline-block transition-opacity duration-300", "data-popover": "", role: "tooltip"}
        %p{class: "font-messiri text-md text-stone-600"} До початку