!!!
%html{lang: "#{I18n.locale}"}
  %head
    -# if session[:cookies_accepted] == true
    -# Google tag (gtag.js)
    %script{async: "", "data-turbo-track": "reload", src: "https://www.googletagmanager.com/gtag/js?id=G-B1HN94WVHN"}
    :javascript
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments)};
      gtag('js', new Date());
      gtag('config', 'GTM-TJBHGWFJ');
      gtag('config', 'pub-3829218691602401');
      gtag('config', 'G-B1HN94WVHN');

      gtag('consent', 'default', {
        'ad_storage': 'denied',
        'ad_user_data': 'denied',
        'ad_personalization': 'denied',
        'analytics_storage': 'denied'
      });

    %title
      = @page_title.present? ? "Швейна майстерня ☞ДРУЖБА☜ - #{@page_title}" : "Швейна майстерня ☞ ДРУЖБА ☜"
    = favicon_link_tag asset_path('favicon.png')
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %meta{name: "description", content: "#{@page_description}"}
    %meta{name: "revisit-after", content: "1 days"}
    %meta{name: "google-adsense-account", content: "ca-pub-3829218691602401"}

    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload"
    = stylesheet_link_tag "application", "inter-font", "data-turbo-track": "reload"
    = stylesheet_link_tag "custom", "data-turbo-track": "reload"
    = javascript_include_tag 'application', 'data-turbo-track': 'reload', defer: true, async: ""
        
    -# AnimatedCSS and WOWjs
    %link{href: "https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css", rel: "stylesheet"}
    %script{async: "", crossorigin: "anonymous", integrity: "sha512-Eak/29OTpb36LLo2r47IpVzPBLXnAMPAVypbSZiZ4Qkf8p/7S/XRG5xp7OKWPPYfJT6metI+IORkR5G8F900+g==", referrerpolicy: "no-referrer", src: "https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"}
    
    -# Google fonts
    %link{href: "https://fonts.googleapis.com", rel: "preconnect"}
    %link{crossorigin: "", href: "https://fonts.gstatic.com", rel: "preconnect"}
    %link{href: "https://fonts.googleapis.com/css2?family=Bad+Script&family=messiri:wght@400..700&display=swap", rel: "stylesheet"}
    %link{href: "https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&display=swap", rel: "stylesheet"}

    -# FontAwesome
    %link{crossorigin: "anonymous",
          href: "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css",
          integrity: "sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==",
          rel: "stylesheet"}

    -# FlowbiteJS
    %link{href: "https://unpkg.com/flowbite@latest/dist/flowbite.css", rel: "stylesheet"}
    %script{async: "", src: "https://unpkg.com/browse/flowbite@2.4.1/dist/flowbite.min.js"}

    -# AnimatedCSS and WOWjs
    %link{href: "https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css", rel: "stylesheet"}
    %script{async: "", crossorigin: "anonymous", integrity: "sha512-Eak/29OTpb36LLo2r47IpVzPBLXnAMPAVypbSZiZ4Qkf8p/7S/XRG5xp7OKWPPYfJT6metI+IORkR5G8F900+g==", referrerpolicy: "no-referrer", src: "https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"}

  %body{class: "bg-stone-100", id: "main", "data-controller": "landing--index"}
    %main{class: ""}
      %navigation{class: ""}
        = render "shared/navigation"
      = yield
    %footer{class: "relative start-0 bottom-0", id: "footer"}
      = render "shared/footer"

    -# Modal dialog contact form
    = render "shared/contact_form"

    -# Cookie_consent
    = turbo_frame_tag :cookies_consent, src: cookies_path if session[:cookies_accepted].nil?

    -# Scroll to Top button
    %div{class: "fixed bottom-10 end-10"}
      %a{class: "", "data-popover-target": "scroll-to-top", "data-popover-placement": "left", href: "#main"}
        %i{class: "text-2xl text-stone-600 fa-solid fa-jet-fighter-up"}
      %div{id: "scroll-to-top", class: "w-24 absolute z-10 invisible inline-block transition-opacity duration-300", "data-popover": "", role: "tooltip"}
        %p{class: "font-messiri text-md text-stone-600"} До початку