!!!
%html
  %head
    %title Швейна майстерня ☞ ДРУЖБА ☜
    = favicon_link_tag asset_path('favicon.png')
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:content => "ремонт одягу пошив індивідуальний пошив ремонт одежды укоротить брюки штаны юбка платье", :name => "description"}

    %link{href: "https://fonts.googleapis.com", rel: "preconnect"}
    %link{crossorigin: "", href: "https://fonts.gstatic.com", rel: "preconnect"}
    %link{href: "https://fonts.googleapis.com/css2?family=Bad+Script&family=Caveat:wght@400..700&display=swap", rel: "stylesheet"}
    
    -# FontAwesome
    %link{crossorigin: "anonymous",
          href: "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css",
          integrity: "sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==",
          rel: "stylesheet"}

    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "inter-font", "data-turbo-track": "reload"
    = stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload"
    = javascript_include_tag 'application', 'data-turbo-track': 'reload', defer: true
  %body{class: "bg-stone-100", id: "main"}
    %navigation{class: "w-full relative top-0 start-0"}
      = render "shared/navigation"
    %main{class: "relative start-0 p-2"}
      = yield

